# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!*.yml
!.gitignore
!*.md
!.HA_VERSION
!VERSION

!ui
!automations
!calendars
!customizations
!groups
!input_boolean
!lights
!notifiers
!scenes
!scripts
!sensors
!binary_sensors
!zones
!input_booleans
!media_players

# Ignore folders.
.storage
.cloud
.google.token
node-red
tts
deps
www

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
