language: python
python:
  - "3.6"
env:
  global:
    - secure: "x/ugrLlZs9ZgWM49gkhd4HDhRUQRElZaSt+af4SI7vEBV2rrqNmOP0xXegcU+XZJ5kSUOG7nbmiJdbvcyyevoj/Bhq3B5S0BuAw/Xmtfubh8iO4N5pf3XXUo/IJEFBA+FFkZmL2BdSgdJPoVuL4nwd7H/ucHTzL6CcM3dcUU7RhqYxrwZhxvwUbLFGLDI9HtypQ9r+w0LGws/wqc+TG3aiL214SGZfM9GZk+jcHCAaFMrriFQNb7JcHtSFcQYYKFQKQMEwlPHOiRddggzgH/WpHw4Sc6Qa7mJVU4KJUp+HT8CsTp59FmJVURPr5ZH0dgZe38NEt5ajH6OOVtirb1UnXGI9W2T1dL5aTu0ODtnkgvvpVyUe3HNEopzNiI1OQhrXxz7PHDDhID2XjtAPzmoNJXCRWp7VehRU+vmM3+hYVMOXVkfU8vAlidJHz/LQ+MhGeibx+FcCeCxruEt+6ULX0lNakQ5C5ypYE8h8L2DiJ1gcZooisQ9X8v7FqZcVWfygHEVPp4xOskClR6WqhsJsh0B9Lt9tr5zzMSgY7grrTZLHozU9fj8w9DrgMjZSg5g7ALXl26S59oieAZtlZ8AtGeIRRM0XbJBwojNIdXlRg3XuANZ/A7jrQY5OWvZDIDpmNzwrJXcwXUK4KP6xBUaAHFxLM7QhSI7fa6vca5R24="
before_install:
  - mv .travis/travis.secrets.yaml secrets.yaml
  - touch home-assistant_v2.db
  - touch home-assistant.log
  - HA_VERSION=$(<.HA_VERSION)
install:
  - pip3 install homeassistant
script:
  - hass -c . --script check_config
after_success:
  - $(npm bin)/set-up-ssh --key "$encrypted_1dfd6373c0c7_key" --iv "$encrypted_1dfd6373c0c7_iv" --path-encrypted-key ".travis/github_deploy_key.enc"
  - export GIT_TAG=build-$TRAVIS_BRANCH-$(date -u "+%Y-%m-%d")-$TRAVIS_BUILD_NUMBER
  - echo -n $GIT_TAG > VERSION
  - git commit -m "Set build VERSION number" VERSION
  - git tag $GIT_TAG -a -m "Generated tag from TravisCI build $TRAVIS_BUILD_NUMBER"
  - git push git@github.com:pascalwilbrink/ha-config.git $GIT_TAG 
