default_config:

tts:
  - platform: google_translate

# Home Assistant
homeassistant: !include core/homeassistant.yaml

# Lovelace
lovelace:
  mode: yaml

# Http
http:

# Conversation
conversation:

# Weather
weather:
  - platform: darksky
    api_key: !secret darksky_api_key

# Integrations
spotify: !include integrations/spotify/spotify.yaml
telegram_bot: !include integrations/telegram/telegram.yaml
google: !include integrations/google/google.yaml

# Core
group: !include groups/group.yaml
automation: !include automations/automation.yaml
script: !include scripts/script.yaml
scene: !include scenes/scene.yaml
zone: !include zones/zone.yaml
calendar: !include calendars/calendar.yaml
input_boolean: !include input_booleans/input_boolean.yaml
notify: !include notifiers/notify.yaml
sensor: !include sensors/sensor.yaml
light: !include lights/light.yaml
binary_sensor: !include binary_sensors/binary_sensor.yaml
media_player: !include media_players/media_player.yaml
person: !include persons/person.yaml