default_config:

tts:
  - platform: google_translate

# Home Assistant
homeassistant: !include core/homeassistant.yaml

# Lovelace
lovelace:
  mode: yaml

# Http
http:

# Conversation
conversation:

# Weather
weather:
  - platform: darksky
    api_key: !secret darksky_api_key
    mode: daily

# Integrations
spotify: !include integrations/spotify/spotify.yaml
telegram_bot: !include integrations/telegram/telegram.yaml
google: !include integrations/google/google.yaml

# Core
group: !include_dir_list groups/
automation: !include_dir_list automations/
script: !include scripts/script.yaml
scene: !include_dir_list scenes/
zone: !include_dir_list zones/
calendar: !include calendars/calendar.yaml
input_boolean: !include input_booleans/input_boolean.yaml
notify: !include notifiers/notify.yaml
sensor: !include_dir_list sensors/
light: !include_dir_list lights/
binary_sensor: !include_dir_list binary_sensors
media_player: !include media_players/media_player.yaml
person: !include persons/person.yaml

spotcast:
  username: !secret spotify_username
  password: !secret spotify_password
  
input_datetime:
  alarm_time:
    name: "Wekker"
    has_date: false
    has_time: true
