default_config:

# Home Assistant
homeassistant: !include core/homeassistant.yaml

# Lovelace
lovelace:
  mode: yaml

# Frontend
frontend:
  themes: !include_dir_merge_named themes
  
# Http
http:

# Api
api:

# Conversation
conversation:

# Sun
sun:

# TTS
tts:
  - platform: google_translate

# Integrations
spotify: !include integrations/spotify/spotify.yaml
telegram_bot: !include integrations/telegram/telegram.yaml
google: !include integrations/google/google.yaml
spotcast: !include integrations/spotcast/spotcast.yaml

# Core
automation: !include_dir_list automations/
script: !include_dir_named scripts/
scene: !include_dir_list scenes/
timer: !include_dir_named timers/

zone: !include_dir_list zones/
group: !include_dir_named groups/
person: !include_dir_list persons/

notify: !include_dir_list notifiers/
media_player: !include_dir_list media_players/
calendar: !include_dir_list calendars/
weather: !include_dir_list weather/
switch: !include_dir_list switches/

# Lights
light: !include_dir_list lights/

# Sensors
sensor: !include_dir_list sensors/
binary_sensor: !include_dir_list binary_sensors/

# Helpers
input_boolean: !include_dir_named input_booleans/
input_datetime: !include_dir_named input_datetimes/
input_text: !include_dir_named input_texts/
input_number: !include_dir_named input_numbers/
input_select: !include_dir_named input_selects/